.game-area {
    display: flex; /* Enables Flexbox */
    align-items: flex-start; /* Aligns children at the start of the cross axis */
    gap: 20px; /* Optional: adds some space between the children */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }
  
  .game-item {
    flex: 1; /* Allows the card to grow and fill the available space */
  display: flex;
}