.signUpPage {
    width: 100vw;
    max-width: 400px;
    margin: 5% auto; /* Adjust margin to center vertically */
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #2E1469;
    animation: fadeIn;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Avenir';
}

.inputContainer {
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
    color: black;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: solid 1px #B1B1B1;
    background-color: #FFFFFF;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Avenir';
}

.signUpPage button {
    display: block; /* Ensure button is block-level for centering */
    margin: 0 auto; /* Center the button horizontally */
    width: 50%; /* Adjust the width as needed */
    padding: 10px 20px;
    border: none;
    background-color: #2E1469;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
}

button:hover {
    background-color: #5d2cd0;
}

.slide-in {
    position:relative;
    animation-name: slideIn;
    animation-duration: 1s;
}

@media (max-width: 767px) {
    .signUpPage {
        max-width: 260px;
    }
    .slide-in {
        animation-name: slideInSmallerScreen;
        animation-duration: 1s;
    }
}

@keyframes slideIn {
    from {
        left: -100%; 
    }
    to {
        left: 0;
    }
}

@keyframes slideInSmallerScreen {
    from {
        left: -100vw; 
    }
    to {
        left: 0;
    }
}
